*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(37, 119, 124);
    /* background-image: url("lam.png"); */

}

body{
    font-family: sans-serif;
    background: #f1f5f8;
    color: #222;
}

.booklist{
    width: 90vw;
    max-width:  1170px;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
}

@media screen and (min-width:768px){
    .booklist{
        grid-template-columns: repeat(3,1fr);
    }
}

.book{
    background-color: rgb(179, 127, 63);
    border-radius: 1rem;    
    padding: 1rem 2rem;
    line-height:20px;
}

book p {
    margin-top:0.5rem;
}


.family h1{
    background-color: aqua;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
